# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log
/tmp

*.sublime-project
*.sublime-workspace
.rvmrc
coverage
.ruby-gemset
spec/tmp
.envrc
puppet/*.yaml
vendor/assets/bower_components
public/uploads
