article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 13px;
  line-height: 1.25em;
  width: 960px;
  margin: 0 auto; }

/*Typography */
h1 {
  font-size: 1.5em;
  line-height: 1.7em;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  font-family: "Proxima Nova";
  color: #cccccc; }

article h1 {
  padding-top: 0px;
  text-align: left;
  padding-bottom: 30px;
  color: #333333;
  font-size: 35px; }

h2 {
  margin-top: 0px;
  font-size: 1.4em;
  font-family: "Proxima Nova";
  color: #333333; }

span {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: #cccccc; }

p {
  text-indent: 20px;
  font-size: 1.5em;
  line-height: 1.8em;
  font-family: "Proxima Nova";
  color: #333333; }

.about p {
  font-size: 1.3em;
  line-height: 1.6em; }

/*Header */
.logo {
  float: left;
  margin-top: 20px; }

.menu {
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 20px;
  padding-bottom: 20px; }

/*Navbar */
nav {
  width: 100%;
  text-align: center;
  clear: both;
  padding-top: 20px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 50px;
  background-color: #cccccc;
  box-shadow: inset 0px 0px 12px #999999;
  display: none; }

li {
  float: left;
  margin: 20px;
  list-style-type: none;
  list-style-position: outside;
  opacity: 0.8; }

section {
  clear: both;
  padding-top: 50px;
  padding-bottom: 50px; }

article {
  margin: 0 auto;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 50px;
  overflow: auto;
  padding-top: 50px; }

.icon {
  float: left; }

.post {
  float: left;
  width: 70%;
  margin-left: 50px; }

.comments {
  overflow: auto;
  width: 100%;
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 20px;
  margin-top: 30px; }

aside {
  margin-top: 50px; }

.foto {
  width: 80px;
  height: 80px;
  float: left; }

.about {
  float: left;
  width: 80%;
  margin-left: 50px; }
