.header,
.default-page
  padding-left: $default-spacing / 2
  padding-right: $default-spacing / 2

.header
  margin-bottom: $default-spacing / 2

.default-page
  max-width: $default-page-width
  margin: auto
  margin-top: 5em
  margin-bottom: 8em

  .post-header .info
    margin-top: $default-spacing / 2

  .post-body
    margin-bottom: $default-spacing * 3

  .author
    border-top: dotted 1px $gray
    padding-top: $default-spacing
    margin-top: $default-spacing
    margin-bottom: $default-spacing * 5

  .hire-us
    margin: $default-spacing * 2 0

  .comment,
  .share
    display: inline-block

  .share
    float: right

  .buffer-button,
  .fb-share-button,
  .twitter-share-button
    vertical-align: bottom

  .fb-share-button
    margin-right: $default-spacing
