.post-edit
  .post-header
    .post-icon
      width: auto
    .huge-font
      border: none
      width: 100%
    .post-icon,
    .info
      font-family: $text-font

.editor-and-body
  font-family: $text-font
  @extend %row
  box-sizing: border-box
  .editor,
  .preview
    width: 50%
    min-height: 300px
    box-sizing: border-box

  .editor textarea,
  .preview .post-body
    margin-top: 0
    padding-top: $default-spacing

  .editor textarea
    width: 98%
    margin-left: 1%
    border: none
    font-family: $text-font
    font-size: $post-font-size
    height: 1000px
    resize: vertical

  .preview .post-body
    margin: $default-spacing / 2

