$Editor-textarea-border-color: #f00;

.Editor-textarea {
  @include font-properties(code, base, $Theme-font-sizes-extra);
  width: calc(100% - 2 * #{$Theme-spacing-small});
  min-height: 1000px;

  margin: $Theme-spacing-small;
  resize: vertical;

  border: 0;
  outline: none;

  &:focus {
    background-color: rgba($Theme-color-polar, 0.1);
  }
}

.Editor-preview {
  margin-top: $Theme-spacing-small;

  .Post img {
    max-width: 100%;

    transform: translateX(0);
  }

  .Post pre {
    padding-right: $Theme-spacing-small;
    padding-left: $Theme-spacing-small;
  }

  .Post-body {
    :first-child {
      padding-top: 0;
    }
  }
}
