.Editor
  width: 100%
  display: flex

.Editor-textareaWrapper,
.Editor-preview
  width: 50%

.Editor-textarea
  @include font-properties(code, base, $Theme-font-sizes-extra)
  border: none
  resize: vertical
  min-height: 1000px
  width: calc(100% - 2 * #{$Theme-spacing-small})
  margin: $Theme-spacing-small

  &:focus
    border: solid 1px red

.Editor-preview
  margin-top: $Theme-spacing-small

  .Post img
    transform: translateX(0)
    max-width: 100%

  .Post pre
    padding-left: $Theme-spacing-small
    padding-right: $Theme-spacing-small
