h1.PostHeading.PostHeading--small = link_to post.title, post_path(post), class: 'PostHeading-link'
.u-smallMargin
.Post.Post--noPadding
  .Post-body
    = raw(truncate_html(post.processed_intro, length: 140))
.u-smallMargin
= render 'shared/tag_list', tag_list: post.tag_list
