- content_for :title, post.page_title
- content_for :url, post_url(post)
- content_for :image_url, post.author.photo_url
- content_for :description, post.description
- content_for :hero_class, 'Hero--large'
- content_for :hero
  = render 'post_hero', post: post

.u-smallMargin
.PostWidthConstrainer
  = render 'shared/tag_list', tag_list: post.tag_list
.u-defaultMargin

.Post
  .Post-body = post.processed_body

.PostWidthConstrainer
  .u-doubleLargeMargin
  .Separator.Separator--subvisual
  .u-largeMargin

  = render 'author_bio', author: post.author
  .u-largeMargin

= render 'related_posts', post: post
.u-largeMargin

= render 'shared/hire_us'
.u-defaultMargin

.Separator.Separator--subvisual
.u-largeMargin

= render '/shared/newsletter'
.u-largeMargin

= render 'shared/disqus', post: post
.u-largeMargin
