$Author-width: 600px;

.Author {
  display: flex;
  align-items: center;
  max-width: $Author-width;
  margin: auto;
}

.Author-right {
  flex: 1;
}

.Author--small {
  .Author-left {
    width: 70px;
    display: flex;
    align-items: center;
  }
  .Author-picture {
    width: 50px;
    height: 50px;
  }
}

.Author--large {
  .Author-left {
    width: 140px;
    display: flex;
    justify-content: center;
  }
  .Author-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Author-picture {
    width: 120px;
    height: 120px;
  }
}

@include media(">=desktop") {
  .Author-right {
    margin-left: $Theme-spacing-small;
  }
}


@include media("<tablet") {
  .Author {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Author-right {
    margin-top: $Theme-spacing-small;
    text-align: center;
  }
}
