$Banner-height: 80px;
$Banner-animation-time: 0.3s;
$Banner-backgorund-color: #DEFEF0;

.Banner {
  width: 100%;
  height: $Banner-height;
  padding: 0 $Theme-spacing-default;

  position: fixed;
  top: -$Banner-height;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $Banner-backgorund-color;

  z-index: 2;
}

.Banner-date {
  font-weight: bold;
}

.Banner-content {
  @include font-properties(subvisual, small);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.Banner-image {
  height: 50px;
}

.Banner-text {
  margin-left: $Theme-spacing-default;
}

.Banner--bellowNav {
  animation-duration: $Banner-animation-time;
  animation-name: bellowNav;
  animation-fill-mode: forwards;

  @keyframes bellowNav {
    from {
      transform: translateY($Banner-height);
    }

    to {
      transform: translateY($Banner-height * 2);
    }
  }
}

.Banner--animateTop {
  animation-duration: $Banner-animation-time;
  animation-name: slideUp;
  animation-fill-mode: forwards;

  @keyframes slideUp {
    from {
      transform: translateY($Banner-height * 2);
    }

    to {
      transform: translateY($Banner-height);
    }
  }
}

.Banner--show {
  animation-duration: $Banner-animation-time;
  animation-name: show;
  animation-fill-mode: forwards;

  @keyframes show {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY($Banner-height);
    }
  }
}

.Banner--hide {
  transform: translateY($Banner-height * 2);
  animation-duration: $Banner-animation-time;
  animation-name: hide;
  animation-fill-mode: forwards;

  @keyframes hide {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }
}
