$Hero-default-height: 400px
$Hero-large-height: 600px

.Hero
  height: $Hero-default-height
  background-color: $Color-catskillWhite

.Hero--tag
  background-color: #8db6cb

@each $tag, $color in $Theme-tags-color
  .Hero--#{$tag}
    background-color: $color

.Hero--large
  height: $Hero-large-height

.Hero--center
  text-align: center

.Hero--pushBottom
  display: flex
  align-items: flex-end
