.HorizontalGrid.HorizontalGrid--innerGutters {
  $gutterSize: $Theme-spacing-xSmall;

  .HorizontalGrid-cell:not(:last-child) {
    padding-right: $gutterSize;
  }
}

.HorizontalGrid.HorizontalGrid--verticallyCentered {
  align-items: center;
}
