.HorizontalGrid.HorizontalGrid--innerGutters {
  $gutterSize: $Theme-spacing-xSmall;

  @include media('>=desktop') {
    .HorizontalGrid-cell:not(:last-child) {
      padding-right: $gutterSize;
    }
  }

  @include media('<desktop') {
    .HorizontalGrid-cell:not(:last-child) {
      padding-bottom: $gutterSize;
    }
  }
}

.HorizontalGrid.HorizontalGrid--right {
  justify-content: flex-end;
}

.HorizontalGrid.HorizontalGrid--verticallyCentered {
  align-items: center;
}

.HorizontalGrid.HorizontalGrid--spaceBetween {
  justify-content: space-between;
}
