@mixin Icon($name, $size) {
  width: $size;
  height: $size;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-url('icons/#{$name}.svg');
}

.Icon.Icon--goBack {
  @include Icon('arrow-back', 25px)
}

.Icon.Icon--clearSearch {
  @include media('<=tablet') {
    @include Icon('clear-search', 15px);
  }

  @include media('>tablet') {
    @include Icon('clear-search', 20px);
  }
}
