.Newsletter
  max-width: 600px
  margin: auto
  display: flex
  flex-wrap: wrap

.Newsletter-input
  flex: 2
  margin-right: $Theme-spacing-small

  .Input
    width: 100%
    padding: $Theme-spacing-xSmall $Theme-spacing-small
    border: 1px solid $Theme-color-poloBlue
    border-radius: 4px

.Newsletter-submit
  flex: 1

@include media('<tablet')
  .Newsletter
    align-items: stretch
    display: none

.Newsletter
  ::-webkit-input-placeholder
    color: $Theme-color-poloBlue

  :-moz-placeholder
    color: $Theme-color-poloBlue
    opacity:  1

  ::-moz-placeholder
    color: $Theme-color-poloBlue
    opacity:  1

  :-ms-input-placeholder
    color: $Theme-color-poloBlue
