.Newsletter
  display: flex

.Newsletter-input
  @include font-properties(heading, small)
  color: $Theme-palette-text-body-alt
  border: solid 2px #ccc
  margin-right: $Theme-spacing-default
  padding: 0 10px
  flex: 2

.Newsletter-submit
  flex: 1
