.Newsletter {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Newsletter-input {
  margin-right: $Theme-spacing-small;
  .Input {
    width: 100%;
    padding: $Theme-spacing-xSmall $Theme-spacing-small;
    border: 1px solid $Theme-color-poloBlue;
    border-radius: 4px;
  }
}

@include media("<tablet") {
  .Newsletter {
    flex-direction: column;
    align-items: center;
  }
  .Newsletter-input {
    width: 100%;
    margin: 0;
    padding: 0 $Theme-spacing-small;
    .Input {
      margin: 0;
    }
  }
  .Newsletter-submit {
    width: 100%;
    padding: $Theme-spacing-small;
    .ButtonPrimary {
      width: 100%;
    }
  }
}


.Newsletter {
  ::-webkit-input-placeholder {
    color: $Theme-color-poloBlue;
  }
  -moz-placeholder: {
    color: $Theme-color-poloBlue;
    opacity: 1;
  };
  ::-moz-placeholder {
    color: $Theme-color-poloBlue;
    opacity: 1;
  }
  -ms-input-placeholder: {
    color: $Theme-color-poloBlue;
  };
}
