.Newsletter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  margin: auto;
}

.Newsletter-input {
  flex: 2 0 auto;
}

@include media('>=tablet') {
  .Newsletter-input {
    margin-right: $Theme-spacing-small;
  }
}

@include media('<tablet') {
  .Newsletter {
    flex-direction: column;
    align-items: center;
  }

  .Newsletter-input {
    width: 100%;
    padding: 0 $Theme-spacing-small;
  }

  .Newsletter-submit {
    width: 100%;
    padding: $Theme-spacing-small;
  }
}

.Newsletter {
  ::placeholder {
    color: $Theme-color-poloBlue;
    opacity: 1;
  }
}
