$PostHeading-color: $Theme-palette-text-body-default;

.PostHeading {
  @include font-properties(heading, veryLarge, $Theme-font-sizes-extra);

  overflow: hidden;
}

.PostHeading--large {
  @include font-properties(heading, huge, $Theme-font-sizes-extra);
}

.PostHeading--light {
  color: $Theme-color-white;

  text-shadow: 0 1px rgba(102, 102, 102, 0.5);
}

.PostHeading--small {
  @include font-properties(heading, large, $Theme-font-sizes-extra);
}

.PostHeading--regular {
  padding: 0 $Theme-spacing-small;
}

.PostHeading-link {
  color: $PostHeading-color;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
