$PostHeading-color: $Theme-palette-text-body-default

.PostHeading
  @include font-properties(heading, large, $Theme-font-sizes-extra)

.PostHeading--large
  @include font-properties(heading, huge, $Theme-font-sizes-extra)

.PostHeading--regular
  padding: 0 $Theme-spacing-small

.PostHeading-link
  text-decoration: none
  color: $PostHeading-color
  &:hover
    text-decoration: underline
