.PostInfo {
  @include font-properties(heading, base, $Theme-font-sizes-extra);

  color: $Color-info;

  font-style: italic;
}

.PostInfo-authorName {
  font-weight: bold;
}

.PostInfo-date {
  opacity: 0.5;
}
