.PostWidthConstrainer {
  width: 100%;
  max-width: 650px;

  padding-right: $Theme-spacing-small;
  padding-left: $Theme-spacing-small;

  margin-right: auto;
  margin-left: auto;
}

.PostWidthConstrainer.PostWidthConstrainer--title {
  max-width: 700px;
}
