$Post-default-max-width: 600px + $Theme-spacing-small * 2;
$Post-code-max-width: 800px + $Theme-spacing-small * 2;
$Post-img-max-width: 800px + $Theme-spacing-small * 2;

@mixin PostMaxWidth($width: $Post-default-max-width) {
  // scss-lint:disable ImportantRule
  max-width: $width !important;

  margin-left: auto !important;
  margin-right: auto !important;
}

.Post--noPadding {
  .Post-body > * {
    padding-right: 0;
    padding-left: 0;
  }
}

.Post-body > :not(.highlight) {
  @include PostMaxWidth;
}

.Post-body {
  > * {
    padding-right: $Theme-spacing-small;
    padding-left: $Theme-spacing-small;
  }

  h1,
  h2,
  h3 {
    padding-top: $Theme-spacing-small;
    padding-bottom: $Theme-spacing-small;
  }

  h1:not(:first-child) {
    @include font-properties(heading, veryLarge, $Theme-font-sizes-extra);

    margin-top: $Theme-spacing-small;
  }

  h2 {
    @include font-properties(heading, large, $Theme-font-sizes-extra);
  }

  h3 {
    @include font-properties(heading, base, $Theme-font-sizes-extra);
  }

  a {
    color: inherit;
  }

  > p:not(:last-child) {
    margin-bottom: $Theme-spacing-small;
  }

  > p img {
    display: block;
    margin: auto;

    @include media(">=#{$Post-img-max-width}") {
      max-width: $Post-img-max-width;

      transform: translateX(-($Post-img-max-width - $Post-default-max-width) * 0.5);

      @include media("<#{$Post-img-max-width}") {
        max-width: 100%;
      }
    }
  }

  .highlight, // scss-lint:disable SelectorFormat
  > pre {
    @include font-properties(code, base, $Theme-font-sizes-extra);

    padding: $Theme-spacing-small 0;

    margin-top: $Theme-spacing-small;
    margin-bottom: $Theme-spacing-default;

    background-color: $Color-catskillWhite;

    font-family: 'SourceCodePro-Regular';
  }

  .highlight { // scss-lint:disable SelectorFormat
    pre,
    code {
      @include PostMaxWidth($Post-code-max-width);

      max-width: 100%;

      padding-right: $Theme-spacing-small;
      padding-left: $Theme-spacing-small;

      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  blockquote {
    &:before,
    &:after {
      content: '';

      display: block;
      width: 100px;
      height: 4px;
      margin: auto;

      background-color: $Color-catskillWhite;
    }

    &:before {
      margin-top: $Theme-spacing-default;
      margin-bottom: $Theme-spacing-small;
    }

    &:after {
      margin-top: $Theme-spacing-small;
    }
  }

  blockquote {
    @include font-properties(alt, large, $Theme-font-sizes-extra);

    color: $Theme-palette-text-body-alt;

    font-style: italic;
    text-align: center;
  }

  blockquote + p > strong {
    display: block;
    margin-bottom: $Theme-spacing-default;

    text-align: center;

    @include media('<tablet') {
      font-size: 12px;
      line-height: 22px;
    }
  }

  ol {
    counter-reset: post-ol-counter;
  }

  ol li:before {
    content: counter(post-ol-counter) '.';
    counter-increment: post-ol-counter;

    margin-right: 5px;

    color: $Color-item-blue;
  }
}
