.ResultsCount {
  @include font-properties(subvisual, small);

  color: $Theme-color-poloBlue;

  font-weight: bold;
  text-transform: uppercase;
}

@each $tag, $color in $Theme-tags-color {
  .ResultsCount.ResultsCount--#{$tag} {
    color: $color;
  }
}
