.Separator--simple
  display: block
  max-width: 600px
  width: 100%
  height: 2px
  margin: auto
  background-color: #b5c9d6

.Separator--subvisual
  height: 55px
  width: 64px
  background-size: cover
  background-repeat: no-repeat
  background-image: image-url('subvisual/separator.svg')
