$Separator-simple-width: 600px;

.Separator--simple {
  display: block;
  width: 100%;
  height: 1px;

  background-color: rgba(#b5c9d6, 0.25);
}

.Separator--subvisual {
  width: 64px;
  height: 55px;
  margin: auto;

  background-image: image-url('blue/subvisual_separator.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
