.Tag
  @include font-properties(subvisual, small)
  text-transform: uppercase
  text-decoration: none

@each $tag, $color in $Theme-tags-color
  .Tag--#{$tag}
    color: $color

.Tag:not(:last-child)
  &:after
    content: ', '
