.archive-title
  color: $dark-gray

.archive-title-separator
  margin-top: 20px
  margin-bottom: 60px
  height: 2px
  border: none
  background-color: $light-gray

.archive-post
  font-size: $post-font-size
  color: $black
  margin-bottom: 40px
  img
    width: 50px
    height: 50px

.archive-post-title
  a
    color: $black
    text-decoration: none
    &:hover
      text-decoration: underline
