.archive-title
  margin-bottom: 60px

.archive-year
  position: relative
  display: inline-block
  float: left

.archive-post
  position: relative
  margin-left: 4em
  margin-bottom: $default-spacing
  @extend %row
  vertical-align: top
  .date
    font-size: $post-font-size
    color: $gray
    padding-right: $default-spacing
  .title
    a
      color: $black
      text-decoration: none
      &:hover
        text-decoration: underline
