@import 'blue/theme_vars';

$fa-font-path: "../assets";
$Color-catskillWhite: #eef4f8;
$Theme-palette-text-body-blog: $Theme-color-limedSpruce;
$Theme-palette-text-body-alt: $Theme-color-horizon;

$Blog-main-tags: (
  design: #00c2b6,
  development: #00a5d4,
  general: #3b6e87,
  community: #efaa37
);

@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('SourceCodePro-Regular.ttf') format('truetype'), url('SourceCodePro-Regular.woff') format('woff');
}

$Theme-font-sizes-extra: (
  mobile: (
    heading: (
      large: (
        font-size: 40px,
        line-height: 52px
      ),
      huge: (
        font-size: 60px,
        line-height: 72px
      ),
      base: (
        font-size: 16px,
        line-height: 24px
      )
    ),
    code: (
      base: (
        font-size: 18px,
        line-height: 24px
      )
    ),
    alt: (
      base: (
        font-size: 16px,
        line-height: 24px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      )
    )
  ),
  desktop: (
    heading: (
      large: (
        font-size: 40px,
        line-height: 52px
      ),
      huge: (
        font-size: 60px,
        line-height: 72px
      ),
      base: (
        font-size: 16px,
        line-height: 24px
      )
    ),
    code: (
      base: (
        font-size: 18px,
        line-height: 26px
      )
    ),
    alt: (
      base: (
        font-size: 16px,
        line-height: 24px
      ),
      large: (
        font-size: 24px,
        line-height: 36px
      )
    )
  )
);

// @debug $Theme-font-sizes;
// $Theme-font-sizes: map-extend($Theme-font-sizes, $Theme-font-sizes-extra, true);
// @debug $Theme-font-sizes;
