.admin
  .posts
    width: 100%

.post-edit
  .icon select
    width: 100%
  .title
    border-width: 0 0 2px 0
    width: 100%
  textarea
    width: 100%

  .body,
  .preview-container
    background-color: $light-gray
    padding-bottom: 0
    min-height: 300px
    > h2
      text-align: center

  .preview
    border: solid 5px $light-gray
    border-top: 0
    padding: 10px
    background: #fff

  textarea,
  .preview
    min-height: 300px

