@import "susy"

$total-columns: 12
$column-width: 5.2em
$gutter-width: 0em

#header
  +container
  #main-logo
    +span-columns(3)
  #top-saying
    +span-columns(6)
  #heart
    +span-columns(2 omega)

#saying-container
  +container
  .saying
    +span-columns(12 omega)

#content
  +container

#content
  article,
  section,

    .icon
      +span-columns(1)
      margin-right: 20px
    .post
      float: left
      +span-columns(10)
      .author
        +span-columns(12 omega)
        .photo
          +span-columns(2)
        .about
          +span-columns(10 omega)
  .gb-separator
    +span-columns(12 omega)
