.blog-post
  .icon
    margin-right: 20px
    width: 60px

  .photo
    margin-right: 20px
    width: 80px

  .post
    +base-font($size: 1.3em, $line-height: 1.8em, $color: #333)
    header
      h1
        margin-bottom: 10px
    .body
      padding-bottom: 30px
    .comments
      border-bottom: dotted 1px #ccc

  .info, .comments, .more
    color: #ccc
    font-style: italic
    margin-bottom: 20px
    padding-bottom: 20px

  .photo, .about
    margin: 40px 0
    p
      +base-font($size: 1em, $line-height: 1.4em, $color: #333)
      padding-top: 10px

  aside
    .photo
    .about


