body
  +base-font($size: 13px, $line-height: 1.25em)

h1
  +base-font($size: 2em, $line-height: 1.5em, $color: #333, $weight: bold)

h2
  +base-font($size: 1.1em, $weight: bold, $color: #666)

p
  +base-font


a
  color: $link-color
  text-decoration: underline
  &:hover
    color: $link-hover-color

a.admin-action
  color: $admin-link-color
  &:hover
    color: $admin-link-hover-color


h2, h3
  +title-font


.gb
  color: $gb-color


.saying
  text-align: center


nav
  +base_font(1.1em, 1.5em, #333, 700)
  +letterpress
  text-align: center
  ul
    margin-bottom: 0
    li
      display: inline
    li + li:before
      font-weight: 300
      color: #bbb
      content: "/"
      padding: 0 5px
  a
    color: $nav-link-color
    text-decoration: none
    &:hover
      color: $nav-link-hover-color
      text-decoration: underline



#header
  margin-top: 20px
  margin-bottom: 10px
  text-align: center

  #main-logo
    padding-top: 8px
    text-align: left

  #top-saying
    padding-top: 10px
    p
      margin-top: 0

  #heart a
    float: right


#nav
  +shadow
  width: 100%
  background-color: $light-gray
  display: none
  padding: 20px 0


#saying-container
  .saying
    +base-font(1.5em, 1.4em, $gray)
    padding-top: 20px


#content
  margin-top: 20px
  article

  #content_title
    text-align: center

  .gb-separator
    background: url(image_path('gb-separator.png')) center no-repeat, url(image_path('gb-separator-line.png')) repeat-x
    height: 25px
    margin-bottom: 80px


#footer
  +shadow
  +letterpress
  background-color: $light-gray
  text-align: center
  .motto
    +base-font($size: 1.1em, $line-height: 1.3em, $color: #333, $weight: bold)
    margin-bottom: 0
    padding: 40px 0
  #footer-nav
    padding: 40px 0
    border-top: solid 1px #eee
    h3
      +letterpress
      +base-font($size: 1.5em, $color: #999, $weight: bold)
      padding-bottom: 30px
