$gb-color: #0091DA
$white: #fff
$gray: #ccc
$light-gray: #F6F6F8
$black: #000

/* links */
$link-color: #ccc
$link-hover-color: $gb-color

/* main nav */
$nav-link-color: #666
$nav-link-hover-color: $gb-color

$main-font-size: 1.2em
$main-line-height: 1.5em
$main-font-color: #333
