// grid settings
$total-columns: 12
$column-width: 5.2em
$gutter-width: 0em

// colors
$gb-color: #0091DA
$black: #333
$white: #fff
$gray: #ccc
$light-gray: #F6F6F8

// links
$link-color: #ccc
$link-hover-color: $gb-color
$admin-link-color: #c33

// main nav
$nav-link-color: #666
$nav-link-hover-color: $gb-color

// font formatting
$serif-font: 'adobe-garamond-pro', serif
$sans-serif-font: 'proxima-nova', Arial, sans-serif
$base-font-size: 13px
$base-line-height: 30px
$title-size: 30px
$subtitle-size: 20px
$title-padding: 10px

$saying-size: 20px

$info-size: 16px

$post-line-height: 30px
$post-title-size: 28px
$post-subtitle-size: 22px

// post formatting
$paragraph-spacing: 30px
