meta charset='utf-8'
meta content='IE=edge,chrome=1' http-equiv='X-UA'
meta name="viewport" content="width=device-width, initial-scale=1.0"

title = content_for?(:title) ? yield(:title) : t('meta.title')
meta name='description' content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
meta name='author' content='Subvisual'

// Open Graph (Facebook)
meta property="og:app_id" content="169112516473978"
meta property="fb:admins" content="100000633932565,1448175923"
meta property="og:url"         content="#{content_for(:url) ? yield(:url) : root_url}"
meta property="og:title"       content="#{content_for(:title) ? yield(:title) : t('meta.title')}"
meta property="og:description" content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
meta property="og:site_name"   content="Subvisual Website"
meta property="og:image"       content="#{content_for(:image_url) ? yield(:image_url) : asset_path('logo-hero.png')}"
meta property="og:type"        content="blog"

// Twitter
meta property="twitter:card"        content="summary"
meta property="twitter:site"        content="@subvisual"
meta property="twitter:title"       content="#{content_for(:twitter_title) ? content_for(:twitter_title) : (content_for(:title) ? yield(:title) : t('meta.title'))}"
meta property="twitter:description" content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
meta property="twitter:creator"     content="#{content_for(:twitter_creator) ? yield(:twitter_creator) : '@subvisual'}"
meta property="twitter:image"       content="#{content_for(:image_url) ? yield(:image_url) : asset_path('logo-hero.png')}"

// Google Plus
meta itemprop="name"        content="#{content_for(:title) ? yield(:title) : t('meta.title')}"
meta itemprop="description" content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
meta itemprop="image"       content="#{content_for(:image_url) ? yield(:image_url) : asset_path('logo-hero.png')}"
