meta charset="utf-8"
/! Uncomment to make IE8 render like IE7
/! <meta http-equiv="X-UA-Compatible" content="IE=7" />
/! Set the viewport width to device width for mobile

meta name="viewport" content="width=device-width, initial-scale=1.0"

title = content_for?(:title) ? yield(:title) : t('meta.title')
meta name="author" content="Group Buddies"
meta name="description" content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
meta name="keywords" content="software, web development, web design, mobile, ruby, rails, javascript"

meta property="og:title"       content="#{content_for(:title) ? yield(:title) : t('meta.title')}"
meta property="og:type"        content="blog"
meta property="og:image"       content="#{content_for(:image_url) ? yield(:image_url) : asset_path('logo.png')}"
meta property="og:url"         content="#{content_for(:url) ? yield(:url) : root_url}"
meta property="og:description" content="#{content_for(:description) ? yield(:description) : t('meta.description')}"
